.sree{font-family:"Calibri";text-transform:uppercase;color:#660066;font-size:31;font-style:bold}
.Approved{font-family:"Calibri";text-transform:uppercase;color:#660066;font-size:15;font-style:bold}
.code{color:red}

a:link    {color:blue;}
a:visited {color:blue;}
a:hover   {color:red;}
a:active  {color:yellow;} 
.anchor{font-size:10;}
.para{font-family:"Calibri";font-size:18;font-style:italic}
.head3{color:red;font-style:italic}
.board{color:;background-color:;font-family:"Calibri";}
.anchor1{font-size:10pt; font-family:"Calibri";}
.vision{font-family:"Calibri";}
.footer{font-family:"Calibri";}
.sidetd1{font-family:"Calibri";color:#660066;font-size:11pt;font-style:bold}